// #009999 - основной

$headingColor: #006363;
$mainText: rgba(0, 0, 0, 1);
$addText: rgba(0, 0, 0, 0.7);

$ligthBG: #deeeed; // максимально в белый от основного + фон на фото
$darkBG: #bcdddc; // предмаксимально в белый от основного + фон сайта

//github
$borderColor: #d0d7de;

$htmlColor: #e34c26;
$cssColor: #563d7c;
$scssColor: #c6538c;
$jsColor: #f1e05a;
$tsColor: #3178c6;
$vueColor: #41b883;